Binaries
Intermediate
amd64
x64-temp-Release
Win32-temp-Release

.DS_Store

*.pdb
*.exe
*.sdf
*.suo
*.o
*.log
*.obj

# we actually ignore source files to ignore build artifacts from cython
# except for those files hand crafted and forcibly added, neato! >:D
*.cpp
*.c
*.h

*.pyc
*.so
.cache
.eggs
.tox
build
dist
*.egg-info
*_temp
__pycache__
